*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
  width: 100%;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}
header img{
  width: 50px;
  display: flex;
  height: 10vh;
}
.logo{
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 8px;
  font-style: italic; 
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 40px; 
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.button {
  background-color: #d9845a;
  color: rgb(252, 247, 247);
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 2px 1px grey;
  /* background: transparent; */
}
